#ability-collection
{
	max-height: 800px;
    min-height: 200px;
    height: 83vh;
    overflow-y: auto;
}

.collection-item
{
	position: relative;
	padding: 0px 20px !important;
}

.ability_item:hover
{
	cursor: pointer;
	background-color: #dcdde1;
	transition: all 100ms linear;
}

.ability_icon
{
	margin-bottom: -5px;
}

.ability_name
{
	margin-left: 15px;

	position: absolute;
    top: 50%;
    transform: translateY(-50%);

    color: #000;
    font-size: 14pt;
}

/*.ability_name:hover, .ability_icon:hover
{
	cursor: pointer;
}*/

#ability_search
{
	color: #f5f6fa;
}

::placeholder
{
	color: #dcdde1;
}

label[for="ability_search"]
{
	color: white;
}

textarea.materialize-textarea
{
	color: white;
}

.noselect 
{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}